.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

application/config/database.php
application/config/tweet.php
application/config/analytics.php
application/config/facebook.php
application/config/production/database.php
application/config/production/facebook.php
application/config/production/config.php
application/config/production/tweet.php
application/config/production/analytics.php
application/config/staging/database.php
application/config/staging/facebook.php
application/config/staging/config.php
application/config/staging/tweet.php
application/config/staging/analytics.php
